parameters:
  level: 5
  paths:
    - bin/
    - config/
    - src/
#    - tests/
  ignoreErrors:
    - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition.*#'
#    - '#Call to an undefined method App\\Entity\\User::getId\(\).#'
    - '#Call to an undefined method Symfony\\Component\\Security\\Core\\User\\UserInterface::.*#'
    - '#Call to method .*\(\) on an unknown class App\\Entity\\User#'
    - '#Call to method find.*\(\) on an unknown class App\\Repository\\UserRepository.#'
    - '#Parameter \$user of method Svc\\TotpBundle\\.*\(\) has invalid type App\\Entity\\User#'
    - '#Parameter \$userRep of method Svc\\TotpBundle\\.*\(\) has invalid type App\\Repository\\UserRepository#'
  excludePaths:
    - 'src/Controller/MfaCrudController.php'
    - 'src/Service/_TotpTrait.php'
