{% trans_default_domain 'TotpBundle' %}
{% extends 'base.html.twig' %}

{% block title %}{% trans %}Forgot/lost 2FA code{% endtrans %}{% endblock %}

{% block body %}

<div class='form-md'>
  <div class="login-form bg-light mt-4 p-4">

    <h2 class="h3 mb-3 font-weight-normal">{% trans %}Forgot/lost 2FA code{% endtrans %}</h2>

    {% trans %}If you forgot or lost your 2FA (QR) code, you can reset 2FA{% endtrans %}.<br/>
    {% trans %}We will email you to confirm your identity{% endtrans %}.<br/>

    <br/>
    <form method="post" action="{{ path('svc_totp_forgot') }}">
      <input type="hidden" name="_csrf_token" value="{{ csrf_token('totp-forgot') }}">
      <input type="hidden" name="send" value="1">
      <button type="submit" class="btn btn-primary">{% trans %}Send email{% endtrans %}</button>
    </form>
  </div>
</div>
{% endblock %}
